/* Global area */
body{
	font-family: 'Dosis', sans-serif;
	color: #333333;	
	background-image: url(../images/bg-defalt.png);
}
/* Global area */
/* start header */
header{
	background-color: #ffd338;
}
/* end header */
/* start menu */
.menu ul li a{
	font-size: 18px;
	font-weight: 700;
	color: #fff !important;
	padding: 0px 20px !important;
	border-radius: 15px;
	transition: 0.5s ease;
}
.menu ul li a:hover{
	background-color: #f05c5c;
}
.drp_btn{
	color: #fff;
}
.drp_btn:hover{
	color: #f05c5c; 
}
.drp_btn:focus, .drp_btn.focus{
	outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(240, 92, 92, 0.25);
}
.search_icon{
	padding: 0px 10px;
}
.search_icon i{
	color: #fff;
}

/* end menu */
/* start banner */
.banner{
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.banner_content{
	margin-top: 220px;
	margin-bottom: 330px;
}
.banner_content h1{
	color: #1ec0ff;
	font-size: 48px;
	font-weight: 700;
}
.scroll{}
.scroll h2{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	color: #bbbbbb;
}
.scroll i{
	font-size: 100px;
	color: #bbbbbb;
}
/* end banner */
/* start kid_title */
.our_kid1{
padding: 100px 0px;
}
.kid_title{
	margin-bottom: 50px;
}
.kid_title h1{
	font-size: 30px;
	font-weight: 700;
	color: #333333;
	margin-bottom: 20px;
}
.kid_title hr{
	width: 245px;
	border: none;
	border-bottom: 6px dashed white;
}
.about_title{}
.about_title h2{
	font-size: 24px;
	color: #333333;
	font-weight: 700;
	}
.about_title hr{
	width: 170px;
	border: none;
	border-bottom: 3px solid #dddddd;
	margin-left: 0;
}
.about_title p{
	font-size: 16px;
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: lighter;
}
.about_title img: hover{
	cursor: pointer;
}
.about_img img{
	border-radius: 15px;
}
/* end kid_title */
/* start our kid2  */
.our_kid2{
	background-image: url(../images/bg-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 0px;
}
.activities{}
.activities img{
	border-radius: 50%;
	margin-bottom: 20px;
}
.activities {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 3px;
    word-spacing: 2px;
    margin: 0;
   }
/* end our kid2 */
/* start courses */
.courses{
	padding: 100px 0px;
}
.courses_title{}
.courses_title h1{
	font-size: 30px;
	font-weight: 700;
	color: #333333;
}
.courses_title img{}
/* end courses */
/* start cards */
.card-header{
	color: #fff;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}
.art_header{
	background-color: #1ec0ff;
}
.math_header{
	background-color: #56d47e;
}
.science_header{
	background-color: #f05c5c;
}
.skill_header{
	background-color: #ffd338;
}

.art-hover,.skill_hover, .math_hover,.science_hover:hover{
	cursor: pointer;
	transition: 0.5s ease;
}
.art-hover:hover{
	color: #1ec0ff; 
}
.skill_hover:hover{
	color: #ffd338;	
}
.math_hover:hover{
	color: #56d47e;	
}
.science_hover:hover{
	color: #f05c5c;	
}
.age{
	padding-right: 29px;
}
.math_mb,.skill_mb{
	margin-bottom: 23px!important;
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-title {
   	font-size: 22px;
    font-weight: 600;
    color: #333333;
    padding-top: 25px;
    letter-spacing: 3px
}

.card-text {
    clear: both;
    margin-top: 30px;
    color: #333333;
    font-size: 16px;
}
.card-footer {
    font-size: 16px;
    color: #333333;
    background: #fff;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: 2px solid #eeeeee;
    padding: 10px 0px;
    text-align: center
}
.profile {
    position: absolute;
    top: -20px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    margin: 0;
    border-radius: 50%;
    right: 15px;
}

.profile-avatar {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

/* start cards */
/* start button */
.custom_btn{
	font-size: 20px;
    background-color: #56d47e;
    border-radius: 15px;
    margin-top: 55px;
    color: #fff;
}
/* end button */

/* start moments */
.moments{
	padding: 100px 0px;
	background-image: url(../images/bg-3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.moments_title{}
.moments_title h1{
	font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.moments_title img{
	margin-bottom: 100px;
}
.img-run img{
	border-radius: 14px;
	margin-bottom: 30px;
}
.m-btm img{
	margin-top: 100px;
}
/* end moments */

